<!--index.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Extraction and Database Interface</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="container mt-5">
    <h1 class="mb-4">Text Extraction and Database Interface</h1>
    <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data" class="mb-4">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="fileInput" name="file" accept="image/*" required>
            <label class="custom-file-label" for="fileInput">Choose file</label>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Upload Image</button>
        <a href="{{ url_for('view_data') }}" class="btn btn-secondary mt-2">View Data</a>
    </form>
    
    <div id="selectedFilePath"></div>

    <div id="imagePreview" class="mt-4">
        <img id="preview" class="img-fluid" alt="Image Preview">
    </div>

    <script>
        document.getElementById('fileInput').addEventListener('change', function(e) {
            const fileInput = e.target;
            const selectedFilePath = document.getElementById('selectedFilePath');
            const imagePreview = document.getElementById('imagePreview');
            const preview = document.getElementById('preview');

            if (fileInput.files.length > 0) {
                const file = fileInput.files[0];
                const fileName = file.name;
                selectedFilePath.innerHTML = `Selected File: ${fileName}`;

                
                const reader = new FileReader();
                reader.onload = function(e) {
                    preview.src = e.target.result;
                };
                reader.readAsDataURL(file);

                imagePreview.style.display = 'block';
            } else {
                selectedFilePath.innerHTML = '';
                imagePreview.style.display = 'none';
            }
        });
    </script>

    <!-- Add Bootstrap JS and Popper.js links -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
